<h1>Welcome, <%= current_user.username %></h1>
<h1>Twitter Feed</h1>
<% @tweets.each do |tweet| %>
  <h3><%= tweet.user.username %> -- <%= tweet.created_at.to_s.split(" ").first %></h3>
  <p><%= tweet.content %></p>
  <a href="/tweets/<%= tweet.id %>/edit">Edit Tweet</a>
  <br>
<% end %>
<a href="/tweets/new">Post Tweet</a>